<% provide(:title, 'About Us') %>
<div class = 'span7 font_josefin margin_right'>
	<h1>We are a small team with a BIG dream</h1>
	<!-- <div class = 'margin_top_20px font_18px margin_bottom_20px'>  -->
		<!-- Our goal is to create a community in which people can discover new experiences, form friendships, and share their passion. -->
		<!-- Our mission is to create an open community in which people can share and connect over food. -->
	<!-- </div> -->

	<div class = 'about_us_font margin_top_20px'>
		<div class = 'font_22px font_bold margin_bottom'> We hope to redefine the dining experience by</div>
		<ul>
			<li class = "margin_top"> Enabling chefs to fully experess their creativity</li>
			<li class = "margin_top"> Connecting people through food</li>
			<li class = "margin_top"> Turning eating into a social experience</li>
		</ul>
	</div>

	<div class = 'about_us_font margin_top_20px'>
		<div class = 'font_22px font_bold margin_bottom'> Our Values </div>
		<ul>
			<li class = "margin_top"> 
				<!-- We believe great food is to be shared. -->
				We believe dining should be more than just about food, but also an experience to be shared with great people.
			</li>
			<li class = "margin_top"> We love to taste, entertain, and try new things.</li>
			<li class = "margin_top"> We obsess over what you want and will try our best to meet your needs.</li>
			<li class = "margin_top"> We care about the community.</li>
			<li class = "margin_top margin_bottom"> We hope to attract and meet similar minded people.</li>
		</ul>
	</div>

	<div class = 'about_us_font margin_top_20px padding_top'>
		<h1> What We Have To Offer </h1>
		
		<div class = 'font_22px font_bold margin_top_20px'> For Talented Hosts</div>
		<ul>
			<li class = "margin_top">Picture Ticket Master + art portfolio ... but for food </li>
			<li class = "margin_top">Showcase your talent and test new recipes to get community feedback.</li>
			<!-- <li class = "margin_top">Easy to use online system to manage all seat bookings and collect payments.</li> -->
			<li class = "margin_top">Build a fan base by connecting through an authentic dining experience.</li>
		</ul>
		
		<div class = 'font_22px font_bold margin_top_20px'> For Adventurous Guests</div>	
		<ul>
			<li class = "margin_top">Find tasting events hosted by locals.</li>
			<li class = "margin_top">Take a seat at an event to dine with innovative chefs and open minded people.</li>
			<li class = "margin_top">Focus on forming lasting friendships instead of worrying about the bill.</li>
		</ul>
	</div>
</div>

<aside class = 'span4 font_josefin font_16px'>
	<div class = 'margin_bottom_20px'>
		<h1>Contact Us</h1>
		<div class = 'margin_top_20px margin_bottom_20px'>We would love to hear from you.</div>
		<div class = 'margin_top'>For customer support: support@<span class='no_display'>null</span>localyum.me</div>
		<div class = 'margin_top'>For general questions: contact@<span class='no_display'>null</span>localyum.me</div>
		<div class = 'margin_top margin_bottom_20px'>For press inquiries: press@<span class='no_display'>null</span>localyum.me</div>

    	<%= render 'shared/contact_ly_form'%>
	</div>
</aside>
