<% provide(:title, 'Cancellation Policy') %>
<h1 class = 'margin_left margin_right'>Cancellation Policies</h1>
<div class = 'margin_left margin_right margin_bottom_20px'>
	<div class = 'margin_bottom_20px'>Local Yum allows hosts to choose from 4 cancellation policies (Totally Flexible, Semi Flexible, Moderate, Strict) that we will enforce for the event to protect both the guests and the host. Each event posting on our site will clearly state the cancellation policy in the "Details" section. Guests can choose to cancel their paid seat by choosing the "Withdraw" button on the appropriate events page and the following penalties will apply according to the cancellation policy the host chose for the event. If the guest has not paid for the seat yet, the seat will not be considered secured and the guest can withdraw from the event with no penalty.</div>

	<div class = 'font_bold font_16px'>The following terms will apply to all cancellation policies when a guest withdraws from a secured paid seat:</div>
	<ul>
		<li class = 'margin_top_5px'>The Local Yum servicing fee is non-refundable.</li>
		<li class = 'margin_top_5px'>No refund will be provided after the scheduled event start time.</li>
		<li class = 'margin_top_5px'>If there is a complaint from either party, notice must be given to Local Yum within 24 hours of event start time. Local Yum will mediate when necessary and has the final say in all disputes.</li>
		<li class = 'margin_top_5px'>A seat is officially canceled when the guest clicks the withdraw button for the event on the event details page or on the upcoming events summary page.</li>
	</ul>
</div>

<div class = 'margin_top_20px margin_left_20px margin_right_20px padding_left padding_right padding_top'>
  <div class = 'font_bold font_16px margin_bottom'> Totally Flexible: Full refund before scheduled event start time, except fees</div>

  <div class = 'cancellation2_box arrow_box_gray'> Event Start </div>
  <table width="100%">
	<tr>
		<td width = '70%' height = '22px' class = "cancellation_100p_refund"> </td>
		<td height = '22px' class = "cancellation_0p_refund"> After Event Start Time</td>
	</tr>
	<tr>
		<td height = "10"></td>
		<td height = "10"></td>
	</tr>
	<tr>
		<td class = "cancellation_description">If the guest withdraws before the scheduled event start time, 100% of the seat price will be refunded.</td>
		<td class = "cancellation_description_no_border">No Refund will be provided after the scheduled event start time</td>
	</tr>
  </table>
</div>

<div class = 'margin_top_100px margin_left_20px margin_right_20px padding_left padding_right padding_top'>
  <div class = 'font_bold font_16px margin_bottom'> Semi Flexible: Full refund 24 hours before scheduled event start time, except fees</div>

  <div class = 'cancellation3_box1 arrow_box_gray'> 24hrs Before </div>
  <div class = 'cancellation3_box2 arrow_box_gray'> Event Start </div>
  <table width="100%">
	<tr>
		<td width = '35%' height = '22px' class = "cancellation_100p_refund"></td>
		<td width = '35%' height = '22px' class = "cancellation_50p_refund"> Within 24 Hours</td>
		<td height = '22px' class = "cancellation_0p_refund"> After Event Start Time</td>
	</tr>
	<tr>
		<td height = "10"></td>
		<td height = "10"></td>
		<td height = "10"></td>
	</tr>
	<tr>
		<td class = "cancellation_description">If the guest withdraws 24 hrs before the scheduled event start time, 100% of the seat price will be refunded.</td>
		<td class = "cancellation_description">If the guest withdraws less than 24 hrs before the scheduled event start time, 50% of the seat price will be refunded.</td>
		<td class = "cancellation_description_no_border">No Refund will be provided after the scheduled event start time</td>
	</tr>
  </table>
</div>

<div class = 'margin_top_100px margin_left_20px margin_right_20px padding_left padding_right padding_top'>
  <div class = 'font_bold font_16px margin_bottom'> Moderate: Full refund 3 days before scheduled event start time, except fees</div>

  <div class = 'cancellation3_box1 arrow_box_gray'> 3 Days Before </div>
  <div class = 'cancellation3_box2 arrow_box_gray'> 24hrs Before </div>
  <table width="100%">
	<tr>
		<td width = '35%' height = '22px' class = "cancellation_100p_refund"></td>
		<td width = '35%' height = '22px' class = "cancellation_50p_refund"> 24 to 72 Hours Before Event Start Time</td>
		<td height = '22px' class = "cancellation_0p_refund"> 24 Hours Before Event Start Time</td>
	</tr>
	<tr>
		<td height = "10"></td>
		<td height = "10"></td>
		<td height = "10"></td>
	</tr>
	<tr>
		<td class = "cancellation_description">If the guest withdraws 3 full days (72 hours) before the scheduled event start time, 100% of the seat price will be refunded.</td>
		<td class = "cancellation_description">If the guest withdraws between 24 hours and 72 hours before the scheduled event start time, 50% of the seat price will be refunded.</td>
		<td class = "cancellation_description_no_border">If the guest withdraws less than 24 hours before the scheduled event start time, no refund will be provided.</td>
	</tr>
  </table>
</div>

<div class = 'margin_top_100px margin_left_20px margin_right_20px padding_left padding_right padding_top'>
  <div class = 'font_bold font_16px margin_bottom'> Strict: Full refund 7 days before scheduled event start time, except fees</div>

  <div class = 'cancellation3_box1 arrow_box_gray'> 7 Days Before </div>
  <div class = 'cancellation3_box2 arrow_box_gray'> 3 Days Before </div>
  <table width="100%">
	<tr>
		<td width = '35%' height = '22px' class = "cancellation_100p_refund"></td>
		<td width = '35%' height = '22px' class = "cancellation_50p_refund"> 72 to 168 Hours Before Event Start Time</td>
		<td height = '22px' class = "cancellation_0p_refund"> 72 Hours Before Event Start Time</td>
	</tr>
	<tr>
		<td height = "10"></td>
		<td height = "10"></td>
		<td height = "10"></td>
	</tr>
	<tr>
		<td class = "cancellation_description">If the guest withdraws 7 full days (168 hours) before the scheduled event start time, 100% of the seat price will be refunded.</td>
		<td class = "cancellation_description">If the guest withdraws between 72 hours and 168 hours before the scheduled event start time, 50% of the seat price will be refunded.</td>
		<td class = "cancellation_description_no_border">If the guest withdraws less than 72 hours before the scheduled event start time, no refund will be provided.</td>
	</tr>
  </table>
</div>