
  <div id = 'how_it_works' class = "center">
    <!-- <h2 class = "margin_top_20px padding_top">How It Works</h2> -->
    <div class = "margin_bottom font_26px font_bold">How It Works</div>
    <div class = 'margin_bottom'>Stop worrying about what is the <span class = 'font_bold font_18px'>best thing on the menu</span> at the beginning of the meal
          <div>... because you would have picked the recommended one in advance</div></div>
    <div class = 'margin_bottom'>Stop worrying about flagging down the wait staff to <span class = 'font_bold font_18px'> pay your bill</span> at the end of the meal
          <div>... because you would have paid in advance</div></div>
    <div class = 'margin_bottom_20px'>Stop worrying about making all your <span class = 'font_bold font_18px'> special requests</span> during the meal
          <div>... because you could communicate with the host in advance</div></div>

    <div class = 'margin_top margin_bottom'>
      On the day </span>of the event, all you need to care about is
      <div> <span class = 'font_bold font_18px'>enjoying a social dining experience </span>across a communal table. </div>
    </div>

    <div class = 'margin_top margin_bottom_20px'>
      At the end of the day, we hope dining out will feel like 
      <div>going to a <span class = 'font_bold font_18px'>friend’s place </span>instead of going to an established restaurant full of strangers.</div> 
      <div></div>
    </div>

    <div class = "label_host_guest">
      <div class = "host_description">
        <!-- <div class = 'margin_bottom'>Do you have a culinary <span class = 'font_bold font_18px'>point of view</span>
          <div>... showcase your ideal experience</div></div>
        <div class = 'margin_bottom'>Are you a <span class = 'font_bold font_18px'>wine/beer maker</span>
          <div>... looking to host a perfect food pairing?</div></div>
        <div class = 'margin_bottom'>Are you a <span class = 'font_bold font_18px'>local farmer</span>
          <div>... looking to share directly with the consumers?</div></div> -->
        <div class = "hostguest_label"> Be a Host </div>
      </div>
      
      <div class = "guest_description">
        <!-- <div class = 'margin_bottom'>Are you an adventurous <span class = 'font_bold font_18px'>foodie</span> 
          <div>... looking to discover local talent?</div></div>
        <div class = 'margin_bottom'>Are you <span class = 'font_bold font_18px'>new in town </span>
          <div>... looking to meet like-minded people?</div></div>
        <div class = 'margin_bottom'>Are you an open-minded <span class = 'font_bold font_18px'>traveler</span>
          <div>... looking to dine with locals?</div></div> -->
        <div class = "hostguest_label"> Be a Guest/Yummer </div>
      </div>
    </div> 

    <div id="timeline">
      <li> 
        <span class="corner"></span>
        <div> <i class="icon-plus-sign"></i> </div>
        <div> Setup an event centered around food and open for sign up</div>
      </li>

      <li>
        <span class="corner"></span>
        <div> <i class="icon-search"></i> </div>
        <div>Explore the events in your area</div>
        <div class = "margin_left margin_right">When you find one that matchese your interests, request a seat at the host's table</div>
      </li>

      <li>
        <span class="corner"></span>
        <div> <i class="icon-bell-alt"></i> </div>
        <div>Accept or decline seat requests <br>(There is also a setting for auto confirmation)</div>
      </li>

      <li>
        <span class="corner"></span>
        <div> <i class="icon-credit-card"></i> </div>
        <div class = 'margin_left margin_right'>Contribute the requested amount via credit card when your seat is confirmed</div>
        <div class = 'margin_left margin_right'>Once the credit card has been charged, the location of the venue will be made available on the event page and the host will plan for you arrival</div>
      </li>

      <div class = "both_guest_host">
        <div> <i class="icon-food"></i>  Yummer: Arrive and show an id that matches your registered name or upload a up to date profile picture </div>
        <div> Host: Match your guest list with Yummer's name/photo
        </div>
      </div>

      <li>
        <span class="corner"></span>
        <div> <i class="icon-money"></i> </div>
        <div class = 'margin_left margin_right'>Withdraw the earnings to your bank account</div>
        <div class = 'margin_left margin_right'>If you chose to contribute a portion to charity, Local Yum will help process that transaction and you will receive an email confirmation from the charity at the end of each quarter</div>
      </li>

      <li>
        <span class="corner"></span>
        <div> <i class="icon-star"></i> </div>
        <div class = 'margin_left margin_right'>Rate your experience and earn badges</div>
      </li>
    </div>

    <div class = 'org_font font_cuprum margin_top_40px' style='font-size:24px'><%= link_to "Got other questions? Check out answers to other FAQ's by clicking here", help_path %></div>
  </div>

