
  		<ul class="nav nav-pills nav-stacked">
  			<li><%= link_to "1: Menu Items", edit_hostevent_path(@hostevent)%></li>
			<li><%= link_to "2: Event Details", step2_path(@hostevent)%></li>
			<li><%= link_to "3: Photos", new_hostevent_eventphoto_path(@hostevent) %></li>
		</ul>

