
  $('<article class="evt_photo_med_container" style="background:url(<%= @eventphoto.eventpic.url(:medium)%>) no-repeat center" ><div class = "evt_photo_delete_btn"><%= link_to delete_photo_path(:id => @eventphoto.id, :permalink => @hostevent.permalink), :method => :delete do %><i class="icon-trash icon-3x"></i><% end %></div></article>').appendTo('#eventphotos'); 
  $("#event_photo_setup_nav").html("<%= escape_javascript(render :partial => "event_setup_nav", :locals => { :hostevent => @hostevent }) %>");
